.Home {
}

.InfoRow {
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.InfoRow .text {
  font-size: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
}

.InfoRow .text:first-line {
  font-weight: bold;
}

.InfoRow .more-button {
    margin-left: .75rem;
}
.InfoRow .more-button svg {
  background-color: #BFBFBF;
  color: #505050;
  padding: .25rem;
  border-radius: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: -.5rem;
}
