body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

.call-btn {
  float: right;
  clear:both;
  padding: .5rem .75rem;
  border: solid #ddd 1px;
  border-radius: .1rem;
  background: white;
  color: #714D70;
}

.call-btn:hover {
  color: white;
  background: darkgray;
}

.call-btn .text {
  float: left;
  font-weight: bold;
}

