.Header {
  padding: 1rem;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  min-width: 240px;
  background-color: #FFFFFF77;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 2px solid #DDDDDD;
  text-align: right;
  height: 70px;
  box-sizing: border-box;
  z-index: 100;
  transition: 0.4s ease;
}



.Header.menuOpen {
  right: 17rem;
  width: calc(100% - 17rem);
}

.Header .title {
  position: absolute;
  margin: auto;
  height: 1em;
  top: 0px;
  bottom: 0px;
  color: #5C2F5A
}

.Header .button {
  padding: 0.5rem;
  color: #ADADAD
}

.Header .button:hover {
  background-color: #EEEEEE;
}
