.IssueRow {
  background-color: #F8F8F8;
  color: #414141;
  height: 118px;
  width: 100%;
}
/* issue bg-color #F8F8F8 */
/* issue title color #414141 */
/* issue title style border */
/* issue vote link #585858 */
