.LegislatorRow {
  background-color: #F8F8F8;
  color: #414141;
  width: 100%;
  min-height: 69px;
  border-bottom: 1px solid #bbb;
  float: left;
  clear: both;
  text-align: left;
  position: relative;
}

.LegislatorRow:last-of-type {
  border-bottom-style: none;
}

.LegislatorRow > .content {
  float: left;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
}
.LegislatorRow > .content div {
  float: left;
}

.LegislatorRow > .content > .left {
  margin-top: 1.1rem;
}

.LegislatorRow > .content > .left .LegislatorBadge {
  margin-top: .34rem;
}

.LegislatorRow > .content > .middle {
  margin-top: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.LegislatorRow .name {
  clear: both;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.LegislatorRow > .call-btn {
  float: right;
  position:absolute;
  top: 1rem;
  right: 1rem;
}

.LegislatorRow .desc {
  clear: both;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}

.LegislatorRow > .content > .right > .BookmarkStar {
  margin-top: .7rem;
  font-size: 1.75rem;
}
