.LegislatorRow {
  background-color: #F8F8F8;
  color: #414141;
  width: 100%;
  height: 69px;
  border-bottom: 1px dashed #646464;
}

.state-icon.dem {
  background-color: #305FBC;
}
.state-icon.repub {
  background-color: #D33236;
}
.star.unfilled {
  background-color: #FFF;
}
.star.filled {
  background-color: #FA904A;
}
