.LegislatorViewInfoRow {
  background-color: #F8F8F8;
  color: #414141;
  width: 100%;
  min-height: 69px;
  float: left;
  clear: both;
  text-align: left;
}

.LegislatorViewInfoRow:last-of-type {
  border-bottom-style: none;
}

.LegislatorViewInfoRow .content {
  float: left;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.LegislatorViewInfoRow .content div {
  float: left;
}

.LegislatorViewInfoRow .left {
  margin-top: 1rem;
  width: 70%;
}
.LegislatorViewInfoRow .right {
  margin-top: 1rem;
  margin-left: 5%;
  max-width: 15%;
}

.LegislatorViewInfoRow .BookmarkStar {
  width: 6%;
  margin-left: 3%;
  margin-top: 1rem;
  transform: translateY(-22%);
}
.LegislatorViewInfoRow .ImageBadge {
  margin-top: .3rem;
  width: 4rem;
  height: 4rem;
}

.LegislatorViewInfoRow .name {
  clear: both;
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: .25rem;
}

.LegislatorViewInfoRow .desc {
  clear: both;
  margin-top: .1rem;
  font-size: 1.1rem;
}

.LegislatorViewInfoRow .additional-desc {
  clear: both;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.LegislatorViewInfoRow .full-profile {
  clear: both;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.LegislatorViewInfoRow .full-profile a {
  text-decoration: underline;
}
