.ListSectionHeaderRow {
  width: 100%;
  height: 43px;
  background-color: #F2F2F2;
  color: #454545;
  border-bottom: 2px solid #CACACA;
  /* main text color #454545 */
}

.ListSectionHeaderRow .PlusMinusButton {
  float: left;
  margin-top: .25rem;
  margin-left: .6rem;
  border-width: 3px;
}

.ListSectionHeaderRow .PlusMinusButton svg {
  margin: 0;
  transform: translateX(0%) translateY(25%);
}

.ListSectionHeaderRow .title {
    padding-top: 0.2rem;
    transform: translateY(50%);
    float: left;
    margin-left: 1.5rem;
    font-weight: bold;
    color: #5E355C;
}

.ListSectionHeaderRow .link {
  padding-top: 0.2rem;
  transform: translateY(50%);
  float: right;
  margin-right: 1.5rem;
}

/* TODO: make this a global class */
.hidden {
  display: none;
}
