.ListSectionHeaderRow {
  width: 100%;
  height: 43px;
  background-color: #E6E6E6;
  color: #454545;
  border-bottom: 1px solid #C2C2C2;
  /* main text color #454545 */
}

.ListSectionHeaderRow .title {
    padding-top: 0.2rem;
    transform: translateY(50%);
    float: left;
    margin-left: 1.5rem;
    font-weight: bold;
    color: #5E355C;
}

.ListSectionHeaderRow .link {
  padding-top: 0.2rem;
  transform: translateY(50%);
  float: right;
  margin-right: 1.5rem;
}

/* TODO: make this a global class */
.hidden {
  display: none;
}
