.MapD3 {
    width: 100%;
    height: 16rem;
}

.MapD3 svg {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: black;
}
.MapD3 svg .county  {
    fill: white;
    stroke: black;
}
.MapD3 svg .county:hover {
    fill: red;
}